#ba-container {
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    overflow-y: auto;
}
#ba-container #buscar-asesor-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#ba-container #buscar-asesor-box .na-head {
    padding: 20px 0px;
    background-color: #252947;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
@media screen and (min-width: 992px) {
    #ba-container #buscar-asesor-box .na-head {
        flex-direction: row;
    }
}
#ba-container #buscar-asesor-box .na-head h2 {
    width: 100%;
    margin-bottom: 15px;
    color: #00e5e5;
    text-align: center;
}
@media screen and (min-width: 992px) {
    #ba-container #buscar-asesor-box .na-head h2 {
        width: auto;
        margin-bottom: unset;
    }
}
#ba-container #buscar-asesor-box .na-head ul {
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 15px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 992px) {
    #ba-container #buscar-asesor-box .na-head ul {
        width: auto;
        padding: unset;
        margin-bottom: unset;
        flex-direction: row;
    }
}
#ba-container #buscar-asesor-box .na-head ul li {
    width: 100%;
}
@media screen and (min-width: 992px) {
    #ba-container #buscar-asesor-box .na-head ul li:not(:last-child) {
        margin-right: 15px;
    }
}
#ba-container #buscar-asesor-box .na-head ul li a {
    margin-bottom: 10px;
    padding: 5px 10px;
    color: #252947;
    background-color: #f5f5f5;
    border-radius: 4px;
    text-decoration: none;
    white-space: nowrap;
    display: block;
    transition: ease all 0.2s;
}
@media screen and (min-width: 992px) {
    #ba-container #buscar-asesor-box .na-head ul li a {
        margin-bottom: unset;
        border-radius: 10px 10px 0px 0px;
    }
}
#ba-container #buscar-asesor-box .na-head ul li a.active {
    background-color: #00e5e5;
}
#ba-container #buscar-asesor-box .na-head .na-sbox-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 992px) {
    #ba-container #buscar-asesor-box .na-head .na-sbox-container {
        width: auto;
    }
}
#ba-container #buscar-asesor-box .na-head .na-sbox-container form {
    min-width: 270px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
#ba-container #buscar-asesor-box .na-head .na-sbox-container form button {
    padding: 3px 5px 3px 3px;
    background-color: #00e5e5;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    border-radius: 20px 0px 0px 20px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#ba-container
    #buscar-asesor-box
    .na-head
    .na-sbox-container
    form
    button
    span:first-child {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    padding: 2px;
    background-color: #252947;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#ba-container
    #buscar-asesor-box
    .na-head
    .na-sbox-container
    form
    button
    span:last-child {
    font-size: 14px;
    font-family: "Quicksand Semibold", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", Arial, sans-serif;
}
#ba-container #buscar-asesor-box .na-head .na-sbox-container form input {
    width: 180px;
    height: 30px;
    padding: 7px;
    border: none;
    border-radius: 0px 20px 20px 0px;
    transition: ease all 0.2s;
    position: absolute;
    left: 87.14px;
    z-index: 2;
}
#ba-container #buscar-asesor-box .na-head .na-sbox-container form input:focus {
    outline: none;
}
#ba-container #buscar-asesor-box .na-body {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 10px;
    justify-items: center;
}
@media screen and (min-width: 992px) {
    #ba-container #buscar-asesor-box .na-body {
        padding: 20px 10px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: 2;
        grid-gap: 20px;
    }
}
#ba-container #buscar-asesor-box .na-body .asesor-card {
    width: 200px;
    margin-bottom: 20px;
    background-image: linear-gradient(
        to right bottom,
        #00e5b5,
        #00e5c0,
        #00e5ca,
        #00e5d3,
        #00e5db,
        #00d4db,
        #00c3d7,
        #00b2cf,
        #178db3,
        #286992,
        #2b486d,
        #252947
    );
    border-radius: 8px;
    text-decoration: none;
}
#ba-container #buscar-asesor-box .na-body .asesor-card .ac-body {
    width: 100%;
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ba-container #buscar-asesor-box .na-body .asesor-card .ac-body img {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
    border: 6px solid #00b4e5;
    border-radius: 50%;
}
#ba-container #buscar-asesor-box .na-body .asesor-card .ac-body h6 {
    width: 100%;
    margin-bottom: 10px;
    color: #606060;
    text-align: center;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    .ac-score-container {
    width: 100%;
    margin-bottom: 15px;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    .ac-score-container
    .acs-container {
    width: 100%;
    background-color: #252947;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    .ac-score-container
    .acs-container
    .acs-n-container {
    width: 30px;
    margin-right: 10px;
    height: 24px;
    position: relative;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    .ac-score-container
    .acs-container
    .acs-n-container
    span {
    width: 38px;
    height: 28px;
    color: #ffffff;
    background-image: linear-gradient(
        to right bottom,
        #00e5e5,
        #00b2cf,
        #0081aa,
        #27527a,
        #252947
    );
    text-align: center;
    font-size: 18px;
    font-family: "Quicksand Semibold", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", Arial, sans-serif;
    position: absolute;
    top: -2px;
    left: -2px;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    .ac-score-container
    .acs-container
    .acs-i-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    .ac-score-container
    .acs-container
    .acs-i-container
    span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    .ac-score-container
    .acs-container
    .acs-i-container
    span:not(:last-child) {
    margin-right: 7px;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    .ac-score-container
    .acs-container
    .acs-i-container
    span.checked
    svg
    path {
    fill: #00e5e5;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    .ac-score-container
    .acs-container
    .acs-i-container
    span
    svg {
    width: 18px !important;
    height: 18px !important;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    .ac-score-container
    .acs-container
    .acs-i-container
    span
    svg
    path {
    fill: #474b63;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    p.adviser-state {
    width: 100%;
    margin-top: 10px;
    padding: 5px 0px;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    p.adviser-state.desconectado {
    background-color: #3d3d3d;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    p.adviser-state.conectado {
    background-color: green;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    p.adviser-state.ocupado {
    background-color: red;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    p.readings-and-price {
    width: 100%;
    color: #606060;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    p.readings-and-price
    span:first-child {
    display: flex;
    align-items: center;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    p.readings-and-price
    span:first-child
    b {
    margin-right: 2px;
    font-size: 14px;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    p.readings-and-price
    span:nth-child(2) {
    margin: 0px 3.5px;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    p.readings-and-price
    span:last-child {
    display: flex;
    align-items: center;
}
#ba-container
    #buscar-asesor-box
    .na-body
    .asesor-card
    .ac-body
    p.readings-and-price
    span:last-child
    b {
    margin-right: 2px;
    font-size: 14px;
}
#ba-container #buscar-asesor-box .na-body .asesor-card .ac-footer {
    width: 100%;
}
#ba-container #buscar-asesor-box .na-body .asesor-card .ac-footer p {
    width: 100%;
    padding: 10px 0;
    color: #f5f5f5;
    text-align: center;
}
