.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
}
.popup.showing {
    display: flex;
}
.popup .popup-container {
    width: 90%;
    max-height: 90%;
    position: relative;
}
@media screen and (min-width: 992px) {
    .popup .popup-container {
        width: 60%;
    }
}
.popup .popup-container .btn-close-popup {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
}
.popup .popup-container .popup-content {
    width: 100%;
}
.popup .popup-container .popup-content a {
    width: 100%;
}
.popup .popup-container .popup-content a img {
    width: 100%;
    height: auto;
}
